            @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

            body {
                width:750px;
                margin: 0 auto;
                color:#484848;
                font-family:'Open Sans', sans-serif;
                background-color:#fff;
            }
            .top {
                height:60px;
            }
            .logo {
                margin-top:11px;
                margin-left:5px;
                float:left;
                top:0;
                position:absolute;
            }
            ul {
                float:right;
                margin-top:25px;
            }
            li {
                list-style:none;
                margin-left:12px;
                display:inline;
            }
            .hr {
                width:100%;
                height:1px;
                background-color:#d4d4d4;
            }
            .txtg {
                font-size:22px;
                text-align:center;
                margin-top:55px;
            }
            a {
                color:#65b8dc;
                text-decoration:none;
            }
            a:hover {
                color:#65b8dc;
                text-decoration:underline;
            }
			a#menu {
                color:#484848;
                text-decoration:none;
            }
            a#menu:hover {
                color:#484848;
                text-decoration:underline;
            }
            .happy-faces {
                text-align:center;
                margin:0 auto;
            }
            .art {
                float:left;
                margin-left:15px;
            }
            .gallery {
                width:600px;
                margin:0 auto;
            }
            .view {
                width: 300px;
                height: 200px;
                margin: 10px;
                float: left;
                border: 10px solid #fff;
                overflow: hidden;
                position: relative;
                text-align: center;
                -webkit-box-shadow: 1px 1px 2px #e6e6e6;
                -moz-box-shadow: 1px 1px 2px #e6e6e6;
                box-shadow: 1px 1px 2px #e6e6e6;
                cursor: default;
                background: #fff url(../images/bgimg.jpg) no-repeat center center;
                margin-left:-35px;
            }
            .view .mask, .view .content {
                width: 300px;
                height: 200px;
                position: absolute;
                overflow: hidden;
                top: 0;
                left: 0;
            }
            .view img {
                display: block;
                position: relative;
            }
            .view p {
                position: relative;
                padding: 10px 20px 20px;
                text-align: center;
            }
            .view a.donate {
                display: inline-block;
                text-decoration: none;
                padding: 7px 14px;
                background: #14a4ff;
                color: #fff;
                width:200px;
                height:20px;
                border-radius:15px;
            }

            .img-author {
                bottom:0;
                margin-bottom:15px;
                margin-left:15px;
            }

            .name-art {
                bottom:0;
                margin-bottom:15px;
                margin-left:50px;
            }
            
            .name-author {
                bottom:0;
                margin-bottom:-5px;
                margin-left:50px;
            }
        

            input#search{
                height: 37px;
                width: 365px;
                background-color: #eaeaea;
                border: 1px solid #d4d4d4;
                font-size: 18px;
                color: #555555;
                font-family:'Open Sans', sans-serif;
                padding-left:10px;
                outline:0;
            }
            .search-button-after{
                background: url('http://i.imgur.com/6W8m7Sm.png') right center no-repeat;
            }
            .page-button{
                font-family:'Open Sans', sans-serif;
                display:inline-block;
                width:28px;
                background-color: #eaeaea;
                border: 1px solid #d4d4d4;
                font-size: 18px;
                color: #555555;
                padding-top:8px;
                padding-bottom:8px;
                margin-left:3px;
                margin-right:3px;
                text-align: center;
            }
            .stroke-page{
                border-color:#969696;
            }
            a#num-page{
                text-decoration: none;
                color: #555555;
            }

            .info_art{
                padding-top:40px;
                padding-left:47px;
            }

            .art_name{
                color: black;
                font-size: 18px;
                display: inline;
                margin-top: 5px;
                margin-left: 15px;
                position: absolute;
            }

            .author_name{
                font-size: 18px;
                margin-top: -35px;
                margin-left: 79px;
                position: absolute;
            }

            .author-image{
                border-radius:500px;
            }

            .amount{
                font-size:24px;
                margin-right:20px;
                float:right;
                display:inline;
                text-align:right;
                line-height:95%;
            }

            .amount_dollar{
                font-weight: 600;
            }

            .full_art{
                border-radius:5px;
                width:465px;
                height:300px;
                margin-top:18px;
            }

            .about_donate{
                float:right;
                display:inline;
                font-size:18px;
                width:200px;
                margin-left:30px;
                margin-top:10px;
            }

            .why{
                font-weight: 600;
                font-size:24px;
            }

            .donate_button{
                width: 195px;
                height: 45px;
                background-color: #20c263;
                border-radius: 5px;
                padding-top: 15px;
                margin-top: 10px;
                color: white;
                text-align: center;
                font-size: 18px;
            }

            .more_of{
                margin-left:15px;
                font-size:18px;
                display:inline-block;
            }

            .more_of_art{
                width:140px;
                height:80px;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
                filter: alpha(opacity=81);
                -moz-opacity: 0.81;
                -khtml-opacity: 0.81;
                opacity: 0.81;
                float:left;
                margin-left:5px;
            }

            .img_select{
                width:220px;
                height:90px;
                background-color:#eaeaea;
                border:1px solid #d4d4d4;
                font-size:14px;
                font-weight: 600;
                padding-top:50px;
            }

            .art_name2{
                font-size: 18px;
                text-align: center;
                border: 1px solid #d4d4d4;
                position: absolute;
                width: 230;
                z-index:9;
                margin-top: -21px;
                margin-left: -113px;
            }

            #upload_input{
                width:0px;
                height:0px;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                -moz-opacity: 0;
                -khtml-opacity: 0;
                opacity: 0;
            }

            .upload_button{
                width: 135px;
                height: 45px;
                border:0;
                background-color: #20c263;
                border-radius: 5px;
                margin-top: 10px;
                color: white;
                text-align: center;
                font-size: 18px;
            }

            .gallery_ol{
                width:630px;
            }

            .art_li{
                width:300px;
                height:200px;
                display:inline-block;
            }

            .art_img_src{
                width:300px;
                height:200px;
            }

            @media(min-width:1000px){
                .view a.donate: hover {
                    -webkit-box-shadow: 0 0 5px #000;
                    -moz-box-shadow: 0 0 5px #000;
                    box-shadow: 0 0 5px #000;
                }
                .view-fifth img {
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    -ms-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
                .view-fifth .mask {
                    background-color: #eaeaea;
                    color:#484848;
                    -webkit-transform: translateX(-300px);
                    -moz-transform: translateX(-300px);
                    -o-transform: translateX(-300px);
                    -ms-transform: translateX(-300px);
                    transform: translateX(-300px);
                    -ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
                    filter: alpha(opacity=100);
                    opacity: 1;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    -ms-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
                .view-fifth p {
                    -ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    filter: alpha(opacity=0);
                    opacity: 0;
                    color: #333;
                    -webkit-transition: all 0.2s linear;
                    -moz-transition: all 0.2s linear;
                    -o-transition: all 0.2s linear;
                    -ms-transition: all 0.2s linear;
                    transition: all 0.2s linear;
                }
                .view-fifth:hover .mask {
                    -webkit-transform: translateX(0px);
                    -moz-transform: translateX(0px);
                    -o-transform: translateX(0px);
                    -ms-transform: translateX(0px);
                    transform: translateX(0px);
                }
                .view-fifth:hover img {
                    -webkit-transform: translateX(300px);
                    -moz-transform: translateX(300px);
                    -o-transform: translateX(300px);
                    -ms-transform: translateX(300px);
                    transform: translateX(300px);
                }
                .view-fifth:hover .mask img {
                    -webkit-transform: translateX(0px);
                    -moz-transform: translateX(0px);
                    -o-transform: translateX(0px);
                    -ms-transform: translateX(0px);
                    transform: translateX(0px);
                }
                .view-fifth:hover p {
                    -ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
                    filter: alpha(opacity=100);
                    opacity: 1;
                }
                .gallery_ol{
                    margin-left:-35px;
                }
            }

            /* IPHONE */

            @media(max-width: 329px){
                body{
                    max-width:329px;
                    overflow-x:hidden;
                }
                .top{
                    width:300px;
                }
                .logo_img{
                    width:140px;
                    margin-top:13px;
                }
                .menu_list{
                    margin-left:-30px;
                }
                .perfil_img_menu{
                    width:0;
                    height:0;
                    opacity:0;
                }
                .about_img{
                    margin-top:20px;
                    width:290px;
                    margin-left:-20px;
                }
                .txtg{
                    font-size:18px;
                    margin-top:25px;
                    max-width:315px;
                }
                input#search{
                    width:270px;
                    margin-left:-40px;
                }
                .gallery_ol, .gallery{
                    width:330px;
                    margin-top:-20px;
                    margin-left:-11px;
                }
                .art_li{
                    width:140px;
                    height:90px;
                    display:inline-block;
                }
                .art_img_src{
                    width:140px;
                    height:90px;
                }
                .view .mask, .view .content {
                    width:0;
                    height:0;
                    opacity:0;
                }
                .pages_box{
                    position:absolute;
                    margin-top:20px;
                    margin-left:70px;
                }
                .img_select{
                    width:195px;
                    height:80px;
                    padding-top:35px;
                }
                .art_name2{
                    width:200px;
                    margin-top:-10px;
                    margin-left:-98px;
                }
                .upload_button{
                    width:95px;
                    height:35px;
                }
                #about_li{
                    width:0;
                    height:0;
                    opacity:0;
                }
            }

            /* UM POUCO MAIOR QUE IPHONE */

            @media(min-width: 330px) and (max-width:389px) {
                body{
                    max-width:330px;
                    overflow-x:hidden;
                    margin:0 auto;
                }
                .top{
                    width:310px;
                }
                .logo_img{
                    width:150px;
                    margin-top:13px;
                }
                .about_img{
                    margin-top:20px;
                    width:290px;
                }
                .perfil_img_menu{
                    width:0;
                    height:0;
                    opacity:0;
                }
                .txtg{
                    font-size:18px;
                    margin-top:25px;
                }
                input#search{
                    width:285px;
                }
                .gallery_ol, .gallery{
                    width:330px;
                    margin-left:-10px;
                }
                .art_li{
                    width:150px;
                    height:100px;
                    display:inline-block;
                }
                .art_img_src{
                    width:150px;
                    height:100px;
                }
                .view .mask, .view .content {
                    width:0;
                    height:0;
                    opacity:0;
                }
                .pages_box{
                    position:absolute;
                    margin-top:20px;
                    margin-left:70px;
                }
                #about_li{
                    width:0;
                    height:0;
                    opacity:0;
                }
            }


            /* MAIORIA */

            @media(min-width: 390px) and (max-width:500px) {
                body{
                    max-width:390px;
                    overflow-x:hidden;
                    margin:0 auto;
                }
                .top{
                    width:380px;
                }
                .logo_img{
                    width:170px;
                    margin-top:7px;
                }
                .about_img{
                    margin-top:20px;
                    width:290px;
                }
                .txtg{
                    font-size:18px;
                    margin-top:25px;
                }
                input#search{
                    width:340px;
                }
                .gallery_ol, .gallery{
                    width:370px;
                }
                .art_li{
                    width:160px;
                    height:110px;
                    display:inline-block;
                }
                .art_img_src{
                    width:160px;
                    height:110px;
                }
                .view .mask, .view .content {
                    width:0;
                    height:0;
                    opacity:0;
                }
                .pages_box{
                    position:absolute;
                    margin-top:20px;
                    margin-left:100px;
                }
                #about_li{
                    width:0;
                    height:0;
                    opacity:0;
                }
            }
			
			
